*.zip
banned-ips.json
banned-players.json
cache/*
commands.yml
eula.txt
*.yml
libraries/*
logs/*
ops.json
plugins/Essentials/usermap.csv
plugins/WorldEdit/.archive-unpack/*
usercache.json
versions/*
version_history.json
whitelist.json
world/advancements/*
world/playerdata/*
world/stats/*

